PRIVATE_KEY=0xYOUR_DEPLOYER_PRIVATE_KEY
ADMIN_ADDRESS=0xYourAdminAddress
SIGNER_ADDRESS=0xYourBackendSignerAddress
BASE_URI=https://metadata.moledao.io/achievements/
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
